DATABASE_URL=""
REDIS_URL=""
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CLAUDE_API_KEY=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
SEMANTIC_SCHOLAR_API_KEY=""
ML_SERVICE_URL=""
PORT=3001
FRONTEND_URL="http://localhost:3000"
